<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuchou.houpu.dao.CommentDao">

    <select id="query" parameterType="java.lang.String" resultType="com.jiuchou.houpu.entity.Comment">
       SELECT m.creatTime,m.score,m.content,u.userName,u.headImgUrl from (SELECT c.* from  COMMENT c  LEFT JOIN orders o on c.cgid=o.vid ) m JOIN user u ON m.cuid=u.uid where m.cgid=#{gid} COLLATE utf8_general_ci
    </select>

    <insert id="add" parameterType="com.jiuchou.houpu.entity.Comment">
        insert into comment values(?,?,?,?,?,?,?)
    </insert>

</mapper>