<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuchou.houpu.dao.ErrorquestionsDao">

    <select id="queryByUid" parameterType="java.lang.String" resultType="com.jiuchou.houpu.entity.Errorquestions">
        select distinct etid,name,content,score,type,img,answer,analysis,uid from errorquestions where uid=#{uid} and etid=#{etid}
    </select>

    <insert id="add" parameterType="com.jiuchou.houpu.entity.Errorquestions">
        insert into errorquestions (etid, name, content, score, type, img, answer, analysis, uid, erranswer) values (#{etid},#{name},#{content},#{score},#{type},#{img},#{answer},#{analysis},#{uid},#{erranswer})
    </insert>
</mapper>