<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuchou.houpu.dao.ExamDao">

    <select id="selectAll"  resultType="com.jiuchou.houpu.entity.Exam">
        SELECT * from exam
    </select>

    <select id="selectByValue" resultType="com.jiuchou.houpu.entity.Exam">
        select * from exam where ${s} like CONCAT('%',#{value},'%')
    </select>

    <select id="queryExamHistory" parameterType="java.lang.String" resultType="com.jiuchou.houpu.entity.Exam">
        SELECT u.score,e.* from exam e left join userscore u on u.etid = e.etid where u.uid=#{uid}
    </select>

    <select id="queryByEtid" parameterType="java.lang.String" resultType="com.jiuchou.houpu.entity.Exam">
        select * from exam where etid=#{etid}
    </select>

    <select id="etvalues"  resultType="java.lang.String">
        select distinct etsubject from exam
    </select>
</mapper>